@font-face {
  font-family: 'M+ 2c';
  src: url("../fonts/mplus-2c-medium.woff2") format("woff2"), url("../fonts/mplus-2c-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'M+ 2c';
  src: url("../fonts/mplus-2c-bold.woff2") format("woff2"), url("../fonts/mplus-2c-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'M+ 2c';
  src: url("../fonts/mplus-2c-light.woff2") format("woff2"), url("../fonts/mplus-2c-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'M+ 2c';
  src: url("../fonts/mplus-2c-thin.woff2") format("woff2"), url("../fonts/mplus-2c-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'M+ 2c';
  src: url("../fonts/mplus-2c-black.woff2") format("woff2"), url("../fonts/mplus-2c-black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'M+ 2c';
  src: url("../fonts/mplus-2c-regular.woff2") format("woff2"), url("../fonts/mplus-2c-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'M+ 2c';
  src: url("../fonts/mplus-2c-heavy.woff2") format("woff2"), url("../fonts/mplus-2c-heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.nav-drop .menu, .paralaks section .col-holder .col ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px; }

body {
  color: #333;
  background: #fff;
  font: 18px/1.111111 "Ubuntu", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto; }

.gm-style img {
  max-width: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?w5nbjr");
  src: url("../fonts/icomoon.eot?w5nbjr#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?w5nbjr") format("truetype"), url("../fonts/icomoon.woff?w5nbjr") format("woff"), url("../fonts/icomoon.svg?w5nbjr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-upwork:before {
  content: "\e903"; }

.icon-linkedin:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e901"; }

.icon-attachment:before {
  content: "\e902"; }

.resize-active .nav-drop {
  -webkit-transition: none !important;
          transition: none !important; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-linear-gradient(left, #030a11 0%, #041d2c 50%);
  background: linear-gradient(to right, #030a11 0%, #041d2c 50%);
  z-index: 20; }

.header-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0; }

.logo-holder {
  max-width: 200px; }
  .logo-holder .logo-pressed {
    display: none; }
  .logo-holder a:active .logo {
    display: none; }
  .logo-holder a:active .logo-pressed {
    display: block; }

.nav-drop {
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999; }
  @media (min-width: 769px) {
    .nav-drop {
      opacity: 1;
      visibility: visible;
      position: static; } }
  .nav-active .nav-drop {
    opacity: 1;
    visibility: visible; }
  .nav-drop .menu li {
    position: relative;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #757575;
    background: black; }
    @media (min-width: 769px) {
      .nav-drop .menu li {
        display: inline-block;
        vertical-align: top;
        padding: 0px 0px 0 44px;
        border: none;
        background: none; } }
    .nav-drop .menu li a {
      position: relative;
      display: block;
      color: #fefefe;
      font-size: 16px;
      font-weight: 400;
      background: none;
      padding: 10px 0; }
      .nav-drop .menu li a:hover {
        color: #c0c4c7; }
      .nav-drop .menu li a:active {
        color: #3bffff !important; }
      @media (min-width: 481px) {
        .nav-drop .menu li a {
          padding: 10px 0;
          font-size: 24px; }
          .nav-drop .menu li a:hover {
            background: none;
            color: #c0c4c7; } }

.nav-opener {
  position: absolute;
  width: 60px;
  height: 30px;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media (min-width: 769px) {
    .nav-opener {
      display: none; } }
  .nav-opener:before, .nav-opener:after,
  .nav-opener span {
    background: #fff;
    position: absolute;
    top: 16px;
    left: 25%;
    right: 25%;
    height: 5px;
    margin: -2px 0 0;
    -webkit-transition: all .2s linear;
            transition: all .2s linear; }
  .nav-opener:before, .nav-opener:after {
    content: '';
    top: 5px; }
  .nav-opener:after {
    top: 27px; }
  .nav-active .nav-opener {
    width: 35px;
    height: 20px; }
    .nav-active .nav-opener span {
      opacity: 0; }
    .nav-active .nav-opener:before, .nav-active .nav-opener:after {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 50%;
      left: 15%;
      right: 15%; }
    .nav-active .nav-opener:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

#footer {
  background: -webkit-linear-gradient(left, #161a33 0%, #001648 100%);
  background: linear-gradient(to right, #161a33 0%, #001648 100%); }
  #footer .logo-holder {
    max-width: 200px; }
    #footer .logo-holder .logo-pressed {
      display: none; }
    #footer .logo-holder a:active .logo {
      display: none; }
    #footer .logo-holder a:active img.logo-pressed {
      display: block; }

.footer-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0;
  color: #fff; }
  .footer-holder .copyright span {
    font-size: 16px;
    font-weight: 200; }
  .footer-holder .social {
    font-size: 24px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-holder .social .upwork {
      color: #fff;
      font-weight: 500; }
      .footer-holder .social .upwork:hover {
        color: #3bffff; }
    .footer-holder .social .icon-facebook, .footer-holder .social .icon-linkedin, .footer-holder .social .icon-upwork {
      color: #fff;
      font-size: 30px;
      padding: 0 0 0 9px;
      -webkit-transition: color 0.2s;
              transition: color 0.2s; }
      .footer-holder .social .icon-facebook:hover, .footer-holder .social .icon-linkedin:hover, .footer-holder .social .icon-upwork:hover {
        color: #3bffff; }
    .footer-holder .social .icon-facebook {
      padding: 0 0 0 17px; }
    .footer-holder .social .icon-linkedin {
      font-size: 32px; }
    .footer-holder .social .icon-upwork {
      font-size: 32px;
      display: none; }

body {
  font-family: 'M+ 2c', sans-serif; }
  body.nav-active .nav-drop {
    opacity: 1;
    visibility: visible; }

a {
  -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
  text-decoration: none; }

img {
  vertical-align: middle; }

h1 {
  font-size: 75px;
  margin: 0; }

h2 {
  font-size: 50px;
  margin: 0;
  line-height: 1.1; }

h3 {
  color: #002d64;
  font-weight: 500; }

h4 {
  font-size: 30px;
  font-weight: 500; }

.wave {
  display: none; }

.col-holder-hide {
  display: none; }

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px; }

#wrapper {
  overflow: hidden;
  position: relative;
  z-index: 2; }

.headline p {
  font-size: 40px;
  color: #fff; }

.headline h2, .headline h1 {
  color: #fff; }

.col-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.visual-section {
  position: relative;
  background: -webkit-linear-gradient(315deg, #051322 0%, #074662 100%);
  background: linear-gradient(135deg, #051322 0%, #074662 100%);
  padding: 291px 0 0 0;
  height: 100vh; }
  .visual-section .headline {
    position: relative;
    z-index: 10;
    text-align: center;
    max-width: 945px;
    margin: 0 auto;
    pointer-events: none; }
    .visual-section .headline h2 {
      font-size: 3.58vw;
      margin: 0 0 107px; }
    .visual-section .headline p {
      max-width: 650px;
      margin: 0 auto;
      line-height: 1.125;
      letter-spacing: -1px;
      font-size: 2.5vw; }

.puerDev-section {
  background: -webkit-linear-gradient(left, #8f90ed 0%, #0de5bd 100%);
  background: linear-gradient(to right, #8f90ed 0%, #0de5bd 100%);
  padding: 53px 0 27px; }
  .puerDev-section .headline {
    max-width: 1042px; }
    .puerDev-section .headline h2 {
      margin: 0 0 44px 0; }
    .puerDev-section .headline p {
      max-width: 847px; }

.stages-section {
  background: -webkit-linear-gradient(left, #161a33 0%, #001648 100%);
  background: linear-gradient(to right, #161a33 0%, #001648 100%);
  padding: 47px 0 38px 0; }
  .stages-section h2 {
    color: #fff;
    font-weight: 800;
    padding: 0 0 0 32px; }
  .stages-section .col-holder {
    padding: 29px 0 0 0;
    margin: 0 -11px; }
    .stages-section .col-holder .col {
      width: 16.667%;
      text-align: center;
      color: #fff;
      font-size: 30px;
      padding: 0 15px; }
      .stages-section .col-holder .col img {
        display: inline-block;
        width: 100%;
        max-width: 142px;
        border-radius: 50%;
        margin: 0 auto;
        -webkit-transition: box-shadow 0.2s;
                transition: box-shadow 0.2s; }
        .stages-section .col-holder .col img:hover {
          box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.75); }
      .stages-section .col-holder .col p {
        margin: 25px 0 0 0; }
    .stages-section .col-holder .col:nth-child(4) p {
      margin: 25px 0 0 -5px; }

.apps-section {
  background: -webkit-linear-gradient(left, #21d3dd 0%, #5840a3 100%);
  background: linear-gradient(to right, #21d3dd 0%, #5840a3 100%);
  padding: 46px 0 53px 0; }
  .apps-section h2 {
    margin: 0 0 33px;
    letter-spacing: 1px; }
  .apps-section .col-holder .col {
    width: 50%;
    text-align: left; }
    .apps-section .col-holder .col p {
      margin: 0 0 53px;
      letter-spacing: 0; }
  .apps-section .col-holder div:last-child {
    text-align: right;
    padding: 0 35px 0 0; }
  .apps-section .btn {
    display: inline-block;
    color: #161a33;
    font-size: 30px;
    font-weight: 500;
    background: #fefefe;
    border-radius: 10px;
    padding: 20px 56px;
    letter-spacing: 0px;
    -webkit-transition: background 0.2s;
            transition: background 0.2s; }
    .apps-section .btn:hover {
      background: #cedfee; }
    .apps-section .btn:active {
      color: white;
      background: #021646; }

.benefits-section {
  background: -webkit-linear-gradient(left, #161a33 0%, #001648 100%);
  background: linear-gradient(to right, #161a33 0%, #001648 100%);
  padding: 70px 0 27px;
  font-size: 24px;
  /* .col-holder {
		padding: 0 0 88px;
	
		.col {
			width: 33.332%;
			&:first-child ul {
				margin: 0 0 0 auto;
			}
	
			&:last-child ul {
				text-align: left;
			}
			ul {
				@extend %listreset;
				color: #fff;
				max-width: 300px;
				text-align: right;
				position: relative;
	
				li {
					font-weight: 700;
					position: relative;
				}
			}
	
			.left-col {
				padding: 0 15px 0 17%;
	
				.left-l1 {
					top: -35px;
				}
	
				.left-l2 {
					top: 31px;
				}
	
				.left-l3 {
					top: 104px;
					margin:0 0 0 -4px;
				}
	
				.left-l4 {
					top: 174px;
					margin: 0 0 0 -23px;
				}
			}
	
			.right-col {
				padding: 0 80px 0 0;
	
				.right-l1 {
					top: -31px;
				}
	
				.right-l2 {
					top: 33px;
				}
	
				.right-l3 {
					top: 96px;
				}
	
				.right-l4 {
					top: 157px;
					margin: 0 -27px 0 0;
				}
			}
		}
	}
	
	.col-holder.col-holder-hide {
		
	
		.col {
			width: 100%;
	
			img {
				position: relative;
				top: -23vw;
			}
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			max-width: 100%;
			min-height: 200px;
	
			li {
				position:absolute;
				width: 43%;
				font-size: 4.5vw;
				letter-spacing: 2px;
			}
		}
	
		.left-col {
			padding: 0;
		}
	
		.left-col .left-l1 {
			top: 18%;
	    		left: 0%;
	    		width: 47%;
		}
	
		.left-col .left-l2 {
			top: 18%;
		    right: 2%;
		    
		    text-align: left;
		}
	
		.left-col .left-l3 {
			left: 2%;
		    top: 115%;
		    text-align: right;
		}
	
		.left-col .left-l4 {
			top: 115%;
		    right: 8%;
		    text-align: left;
		    width: 37%;
		}
	
		.right-col .right-l1 {
		    top: -223%;
		    left: 7%;
		    text-align: right;
		    width: 36%;
		}
	
	
		.right-col .right-l2 {
		    top: -223%;
		    right: 10%;
		    width: 31%;
		}
	
		.right-col .right-l3 {
		    top: -126%;
	    		left: 17%;
		}
	
		.right-col .right-l4 {
		    top: -126%;
		    right: 7%;
		    width: 37%;
		}
	} */ }
  .benefits-section h2 {
    color: #fff;
    text-align: center;
    margin: 0 0 47px 0; }
  .benefits-section .headline {
    text-align: center;
    padding: 0 0 53px 0; }
    .benefits-section .headline p {
      font-size: 24px;
      font-weight: 400;
      max-width: 610px;
      margin: 0 auto; }

.benefits-img {
  margin: 0 0 46px; }
  .benefits-img img {
    margin: 0 auto; }
  .benefits-img img.show-img {
    display: block; }
  .benefits-img img.hide-img {
    display: none; }

.paralaks {
  text-align: center; }
  .paralaks h1 {
    display: inline-block;
    background: -webkit-linear-gradient(left, #4f258a 0%, #2888af 100%);
    background: linear-gradient(to right, #4f258a 0%, #2888af 100%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    margin: 47px 0 16px;
    line-height: 1.3;
    letter-spacing: -1px; }
  .paralaks section .col-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .paralaks section .col-holder:first-child .col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .paralaks section .col-holder .col {
      width: 50%;
      text-align: left; }
      .paralaks section .col-holder .col h1 {
        margin: 36px 0 59px !important;
        font-weight: 400;
        line-height: 0.9; }
      .paralaks section .col-holder .col:last-child {
        padding: 37px 20px 0 15px; }
      .paralaks section .col-holder .col p {
        font-size: 20px;
        line-height: 1.35;
        text-align: left;
        margin: 0 0 10px 0;
        color: #212121;
        font-weight: 500; }
      .paralaks section .col-holder .col ul {
        text-align: left;
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 12px; }
        .paralaks section .col-holder .col ul span {
          font-weight: 500; }

.network-section {
  padding: 40px 0 0 0; }
  .network-section h1 {
    display: inline-block;
    background: -webkit-linear-gradient(left, #580dbf 0%, #3379dd 100%);
    background: linear-gradient(to right, #580dbf 0%, #3379dd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 36px 0 59px !important; }

.media-section {
  padding: 26px 0 0 0; }
  .media-section h1 {
    background: -webkit-linear-gradient(left, #1b07b8 0%, #077fcc 100%);
    background: linear-gradient(to right, #1b07b8 0%, #077fcc 100%);
    /* margin: 58px 0 60px !important; */ }

.healthcare-section {
  padding: 27px 0 0 0; }
  .healthcare-section h1 {
    background: -webkit-linear-gradient(left, #2140ff 0%, #08bdcd 100%);
    background: linear-gradient(to right, #2140ff 0%, #08bdcd 100%); }
  .healthcare-section p {
    margin: 0 0 6px !important; }
  .healthcare-section ul {
    padding: 52px 0 0 0;
    margin: 0 0 8px !important; }

.entertainment-section {
  padding: 29px 0 22px 0 !important; }
  .entertainment-section h1 {
    background: -webkit-linear-gradient(left, #08c0d2 0%, #0077d0 100%);
    background: linear-gradient(to right, #08c0d2 0%, #0077d0 100%);
    /* margin: 57px 0 85px !important; */ }
  .entertainment-section p {
    letter-spacing: -1px;
    margin: 0 0 13px 0 !important; }

.expert-section {
  padding: 69px 0 79px;
  background: -webkit-linear-gradient(left, #161a33 0%, #001648 100%);
  background: linear-gradient(to right, #161a33 0%, #001648 100%); }
  .expert-section h2 {
    color: #fff;
    text-align: center;
    margin: 0 0 50px; }
  .expert-section h2 + .col-holder {
    padding: 0 0 45px; }
  .expert-section .col-holder {
    margin: 0 -10px; }
    .expert-section .col-holder .col {
      width: 33.332%;
      padding: 15px; }
      .expert-section .col-holder .col:nth-child(3) .holder {
        padding: 45px 15px 23px; }
      .expert-section .col-holder .col .holder {
        height: 100%;
        background: -webkit-linear-gradient(315deg, #8482db 0%, #0cd2af 100%);
        background: linear-gradient(135deg, #8482db 0%, #0cd2af 100%);
        padding: 45px 32px 23px;
        -webkit-transition: box-shadow 0.2s;
                transition: box-shadow 0.2s; }
        .expert-section .col-holder .col .holder:hover {
          box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.75); }
        .expert-section .col-holder .col .holder h3 {
          font-size: 30px;
          color: #fff;
          font-weight: 500;
          text-align: center;
          margin: 0 0 32px; }
        .expert-section .col-holder .col .holder p {
          font-size: 20px;
          font-weight: 400;
          line-height: 1.125;
          color: #fff; }
      .expert-section .col-holder .col .holder.news-feed {
        padding: 45px 26px 23px; }
  .expert-section .col-holder + .col-holder p {
    margin: 20px 0 0 0; }

.languages-section {
  padding: 60px 0 0;
  /* .row1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 31px 134px 23px 85px;
	
		img {
			width: 136px;
		}
	}
	
	.row2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		padding: 10px 102px;
	
		.obj {
			width: 86px;
		}
	
		.swift {
			width: 83px;
		}
	
		.java {
			width: 118px;
		}
	
		.python {
			width: 180px;
		}
	}
	
	.row3 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		padding: 34px 125px;
	
		.mysql {
			width: 94px;
		}
	
		.postgresql {
			width: 223px;
		}
	
		.redis {
			width: 130px;
		}
	
		.mongodb {
			width: 188px;
		}
	}
	
	.row4 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		padding: 15px 81px 29px 114px;
	
		.sqlalchemy {
			width: 206px;
		}
	
		.django {
			width: 109px;
		}
	
		.aiohttp {
			width: 54px;
		}
	
		.flask {
			width: 46px;
		}
	} */ }
  .languages-section .headline {
    background: -webkit-linear-gradient(left, #580dbf 1%, #1bbdef 100%);
    background: linear-gradient(to right, #580dbf 1%, #1bbdef 100%); }
  .languages-section h2 {
    line-height: 2;
    text-align: center; }
  .languages-section .leng-img {
    padding: 47px 15px 34px; }
    .languages-section .leng-img img {
      margin: 0 auto; }
    .languages-section .leng-img .leng-show {
      display: block; }
    .languages-section .leng-img .leng-hide {
      display: none; }

.expertise-section {
  background: -webkit-linear-gradient(left, #161a33 0%, #001648 100%);
  background: linear-gradient(to right, #161a33 0%, #001648 100%);
  color: #fff;
  padding: 37px 0 1px; }
  .expertise-section h2 {
    margin: 0 0 45px;
    text-align: center; }
  .expertise-section .col-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -26px; }
  .expertise-section .col {
    width: 20%;
    text-align: center;
    padding: 11px 25px 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
    .expertise-section .col p {
      font-size: 1.8vw;
      margin: 20px 0 45px; }
    .expertise-section .col img {
      max-width: 148px;
      width: 100%;
      border-radius: 50%;
      -webkit-transition: box-shadow 0.2s;
              transition: box-shadow 0.2s; }
      .expertise-section .col img:hover {
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.75); }
  .expertise-section .col-holder + h2 {
    background: -webkit-linear-gradient(left, #928eee 0%, #09e7bc 100%);
    background: linear-gradient(to right, #928eee 0%, #09e7bc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3; }

.form-section {
  background: -webkit-linear-gradient(left, #24ccda 0%, #5742a4 100%);
  background: linear-gradient(to right, #24ccda 0%, #5742a4 100%);
  padding: 32px 0 38px;
  text-align: center; }
  .form-section h4 {
    color: #fff;
    line-height: 1.2;
    margin: 0 0 25px; }
  .form-section .form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0; }
    .form-section .form .input-holderleft, .form-section .form .input-holderRight {
      width: 50%; }
      .form-section .form .input-holderleft input, .form-section .form .input-holderRight input {
        width: 100%;
        height: 50px;
        margin: 0 0 15px 0;
        outline: none;
        border: none; }
    .form-section .form .input-holderleft {
      padding: 0 15px 0 0; }
    .form-section .form .input-holderRight {
      padding: 0 0 0 15px; }
    .form-section .form input, .form-section .form textarea {
      padding: 24px 17px;
      font-size: 25px;
      font-weight: 500;
      color: #424242;
      border-radius: 10px; }
      .form-section .form input::-webkit-input-placeholder, .form-section .form textarea::-webkit-input-placeholder {
        color: #bdbdbd;
        font-size: 25px;
        font-weight: 500; }
      .form-section .form input::-moz-placeholder, .form-section .form textarea::-moz-placeholder {
        opacity: 1;
        color: #bdbdbd;
        font-size: 25px;
        font-weight: 500; }
      .form-section .form input:-moz-placeholder, .form-section .form textarea:-moz-placeholder {
        color: #bdbdbd;
        font-size: 25px;
        font-weight: 500; }
      .form-section .form input:-ms-input-placeholder, .form-section .form textarea:-ms-input-placeholder {
        color: #bdbdbd;
        font-size: 25px;
        font-weight: 500; }
      .form-section .form input.placeholder, .form-section .form textarea.placeholder {
        color: #bdbdbd;
        font-size: 25px;
        font-weight: 500; }
    .form-section .form textarea {
      width: 100%;
      height: 270px;
      outline: none;
      border: none;
      padding: 10px 17px 60px;
      resize: none;
      margin: 0;
      border-radius: 10px 10px 0 0; }
  .form-section .attachment {
    position: relative;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: #fff;
    cursor: pointer;
    padding: 3px 17px;
    font-size: 25px;
    font-weight: 500;
    color: #bdbdbd;
    text-align: left;
    margin: 0 0 29px; }
    .form-section .attachment:hover {
      color: #616161; }
      .form-section .attachment:hover i {
        font-weight: 700; }
    .form-section .attachment input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      display: none;
      padding: 0;
      pointer-events: none; }
  .form-section #file-name {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%; }
  .form-section #file-name.show-text {
    background: #fff;
    z-index: 5;
    margin: 0 0 0 4%; }
  .form-section button {
    background: #161a33;
    outline: none;
    border: none;
    color: #fff;
    padding: 18px 55px;
    border-radius: 10px;
    font-size: 26px;
    -webkit-transition: background 0.2s;
            transition: background 0.2s; }
    .form-section button:hover {
      background: #223154; }
    .form-section button:active {
      background: #fff;
      color: #051744; }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 5; }

/* .parallax-window,
.parallax-window2,
.parallax-window3,
.parallax-window4 {
	span {
		width:100%;
	display:block;
	height: 50vw;
	}
	
} */
.parallax-window {
  position: relative;
  background: url(../images/app_social_network.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.parallax-window2 {
  position: relative;
  background: url(../images/app_social_media.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-window3 {
  position: relative;
  background: url(../images/app_healthcare.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-window4 {
  position: relative;
  background: url(../images/app_entertainment.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.col1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.col2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.col3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

.col4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

.col5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.hide {
  -webkit-animation-name: hide;
          animation-name: hide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes hide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes hide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

.show {
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.error-message,
.ok-message {
  display: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500; }

.error + .massage .error-message {
  display: block; }

.form.ok + .massage .ok-message {
  display: block; }

/* .error {
	background: red;
} */
.benefits-section .col-holder.col-holder-hide {
  display: none; }

.img-holder.img-show {
  display: none; }

/* Header Style */
.codrops-top {
  position: relative;
  z-index: 1000;
  font-size: 0.68em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 2.2; }

.codrops-top a {
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.2);
  display: inline-block; }

.codrops-top a:hover {
  color: rgba(255, 255, 255, 0.9); }

.codrops-top span.right {
  float: right; }

.codrops-top span.right a {
  float: left;
  display: block; }

.os-phrases h2 {
  font-size: 75px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  /* position: absolute;
	top: 0;
	left: 0; */
  letter-spacing: 6px;
  text-align: center; }

.os-phrases h2,
.os-phrases h2 > span {
  height: 100%;
  /* Centering with flexbox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  /*rashgold*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.os-phrases h2 > span {
  margin: 0 15px; }

.os-phrases h2 > span > span {
  display: inline-block;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }

.os-phrases h2 > span > span > span {
  display: inline-block;
  color: transparent;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation: OpeningSequence 5.2s linear forwards;
  animation: OpeningSequence 5.2s linear forwards; }

/* .os-phrases h2:nth-child(2) > span > span > span {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	animation-delay: 5s;
}

.os-phrases h2:nth-child(3) > span > span > span {
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	animation-delay: 10s;
}

.os-phrases h2:nth-child(4) > span > span > span {
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
	animation-delay: 15s;
}

.os-phrases h2:nth-child(5) > span > span > span {
	font-size: 150px;
	-webkit-animation-delay: 21s;
	-moz-animation-delay: 21s;
	animation-delay: 21s;
	-webkit-animation-duration: 8s;
	-moz-animation-duration: 8s;
	animation-duration: 8s;
}

.os-phrases h2:nth-child(6) > span > span > span {
	-webkit-animation-delay: 30s;
	-moz-animation-delay: 30s;
	animation-delay: 30s;
}

.os-phrases h2:nth-child(7) > span > span > span {
	-webkit-animation-delay: 34s;
	-moz-animation-delay: 34s;
	animation-delay: 34s;
} */
@-webkit-keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -webkit-transform: rotateY(-90deg); }
  50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: 14px;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg); }
  85% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg) translateZ(100px); }
  100% {
    text-shadow: 0px 0px 0px white;
    opacity: 1;
    -webkit-transform: translateZ(130px);
    pointer-events: none; } }

@keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0.2;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg); }
  50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: 14px;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  85% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg) translateZ(100px);
            transform: rotateY(0deg) translateZ(100px); }
  100% {
    text-shadow: 0px 0px 0px white;
    opacity: 1;
    -webkit-transform: translateZ(130px);
            transform: translateZ(130px);
    pointer-events: none; } }

/* .os-phrases h2:nth-child(8) > span > span > span {
	font-size: 30px;
	-webkit-animation: FadeIn 4s linear 40s forwards;
	-moz-animation: FadeIn 4s linear 40s forwards;
	animation: FadeIn 4s linear 40s forwards;
}

@-webkit-keyframes FadeIn { 
	0% {
		opacity: 1;
		text-shadow: none;
	}
	100% {
		opacity: 1;
		text-shadow: none;
	}
}

@-moz-keyframes FadeIn { 
	0% {
		opacity: 1;
		text-shadow: none;
	}
	100% {
		opacity: 1;
		text-shadow: none;
	}
}

@keyframes FadeIn { 
	0% {
		opacity: 1;
		text-shadow: none;
	}
	100% {
		opacity: 1;
		text-shadow: none;
	}
}

Bold words
.os-phrases h2:first-child .word3,
.os-phrases h2:nth-child(2) .word2,
.os-phrases h2:nth-child(4) .word2 {
	font-weight: 600;
}
 */
@media (max-width: 1200px) {
  h1 {
    font-size: 6vw; }
  .stages-section .col-holder .col p {
    font-size: 2vw; }
  .apps-section .btn {
    font-size: 2vw; } }

@media (max-width: 1024px) {
  .visual-section {
    padding: 55%  0 0 0; }
  .visual-section .headline {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5); }
  .visual-section .headline h2 {
    font-size: 4vw;
    margin: 0 0 65px; }
  .expert-section .col-holder .col .holder h3 {
    font-size: 25px; }
  /* .expertise-section .col p {
		font-size: 25px;
	} */ }

@media (min-width: 1921px) {
  .visual-section .headline p {
    font-size: 40px; } }

@media (max-width: 768px) {
  canvas {
    display: none; }
  h1 {
    font-size: 5vw; }
  h2 {
    font-size: 10vw; }
  .header-holder {
    padding: 21px 0 21px 16px; }
    .header-holder .logo-holder {
      width: 246px; }
  .headline p {
    font-size: 2.5vw; }
  .os-phrases h2, .os-phrases h2 > span {
    display: inline-block;
    letter-spacing: 4px;
    margin: 0 0 48px 0; }
  .visual-section {
    padding: 17vw 0 0;
    height: auto; }
  .visual-section .headline {
    padding: 0 0 67px;
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important; }
  .visual-section .headline h2 {
    font-size: 11vw;
    margin: 0 0 78px; }
  .visual-section .headline p {
    font-size: 5.59vw; }
  .wave {
    display: block;
    width: 92%;
    margin: 0 auto;
    height: 452px; }
  .puerDev-section {
    padding: 126px 0 86px; }
  .puerDev-section h2 {
    padding: 0 34% 0 15px;
    font-size: 10vw;
    line-height: 1.12; }
  .puerDev-section .headline h2 {
    margin: 0 0 101px 0; }
  .puerDev-section .headline p {
    font-size: 6.5vw;
    padding: 0 0 0 15px;
    max-width: 620px;
    line-height: 1.148; }
  .stages-section {
    padding: 47px 0 0px 0;
    margin: 0 0 -48px; }
  .stages-section h2 {
    font-size: 10vw;
    padding: 0;
    text-align: center;
    margin: 0 0 60px; }
  .stages-section .col-holder {
    overflow: hidden; }
  .stages-section .col-holder .col {
    width: 50%;
    padding: 15px 50px 0; }
    .stages-section .col-holder .col img {
      max-width: 253px; }
  .stages-section .col-holder .col p {
    font-size: 54px;
    margin: 39px 0 103px 0; }
  .stages-section .col-holder .col:nth-child(4) p {
    margin: 39px 0 0 -29px; }
  .apps-section {
    padding: 126px 15px 70px; }
  .apps-section h2 {
    font-size: 10vw;
    line-height: 1.12;
    margin: 0 0 100px; }
  .apps-section .col-holder {
    display: block; }
    .apps-section .col-holder .col {
      width: 100%; }
  .apps-section .col-holder .col .img-show {
    display: block;
    padding: 0 0 71px; }
    .apps-section .col-holder .col .img-show img {
      width: 100% !important; }
  .apps-section .col-holder .col .img-hide {
    display: none; }
  .apps-section .col-holder .col p {
    font-size: 6.5vw;
    width: 84%;
    line-height: 1.15;
    margin: 0 0 111px; }
  .apps-section .btn {
    display: block;
    width: 100%;
    font-size: 5.4vw;
    padding: 27px;
    text-align: center; }
  .benefits-section {
    padding: 46px 0 96px; }
  /* .benefits-section .col-holder.col-holder-hide {
		display: block;
	}
	 */
  .benefits-section h2 {
    margin: 0 0 33px 0; }
  .benefits-section .headline p {
    font-size: 32px;
    max-width: 462px;
    line-height: 1.3; }
  .benefits-section .benefits-img img.show-img {
    display: none; }
  .benefits-section .benefits-img img.hide-img {
    display: block; }
  /* .benefits-section .col-holder.col-holder-show {
		display: none;
	}
	
	.capt-bot {
		margin: -56% auto 0 !important;
	}
	
	
	.benefits-section .col-holder {
	    padding: 0 0 136px;
	}
	
	.benefits-section .col-holder.col-holder-hide .right-col .right-l1 {
		top: -241%;
	}
	
	.benefits-section .col-holder.col-holder-hide .right-col .right-l3 {
	    	top: -145%;
	}
	
	.benefits-section .col-holder.col-holder-hide .right-col .right-l2 {
	    top: -240%;
	}
	
	.benefits-section .col-holder.col-holder-hide .right-col .right-l4 {
	    top: -145%;
	} */
  .paralaks h1 {
    margin: 31px 0 9px;
    font-size: 13vw;
    line-height: 1.2; }
  .parallax-window {
    min-height: 849px; }
  .network-section {
    padding: 37px 0 0 0; }
  .paralaks section .col-holder {
    display: block; }
  .paralaks section .col-holder .col {
    width: 100%; }
  .paralaks section .col-holder .col h1 {
    margin: 41px 0 44px;
    padding: 0 0 0 13px; }
  .paralaks section .col-holder .col p {
    font-size: 4vw;
    margin: 0 0 20px 0;
    font-weight: 400; }
  .paralaks section .col-holder .col ul span {
    font-weight: 400; }
  .paralaks section .col-holder .col:last-child {
    padding: 43px 20px 0 15px; }
  .paralaks section .col-holder .col ul {
    font-size: 5vw;
    padding: 0 0 0 16px; }
  .media-section h1 {
    margin: 42px 0 47px !important; }
  .media-section {
    padding: 62px 0 74px 0; }
  .healthcare-section {
    padding: 27px 0 25px 0; }
  /* .healthcare-section ul {
	    padding: 0px 0 0 0 !important;
	} */
  .healthcare-section p {
    margin: 0 0 14px !important; }
  .entertainment-section h1 {
    margin: 43px 0 43px !important; }
  .entertainment-section p {
    letter-spacing: -1px;
    margin: 0 0 22px 0 !important; }
  .entertainment-section {
    padding: 29px 0 56px 0 !important; }
  .parallax-window {
    min-height: 848px;
    background: url(../images/app_social_network_mob.png);
    background-repeat: no-repeat;
    /*  background-attachment: fixed;  */
    background-size: contain; }
  .parallax-window2 {
    min-height: 848px;
    background: url(../images/app_social_media_mob.png);
    /*  background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: contain; }
  .parallax-window3 {
    min-height: 848px;
    background: url(../images/app_healthcare_mob.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: contain; }
  .parallax-window4 {
    width: 100%;
    display: block;
    min-height: 848px;
    background: url(../images/app_entertainment_mob.png);
    /* background-attachment: fixed;  */
    background-repeat: no-repeat;
    background-size: contain; }
  .parallax-window2 {
    min-height: 848px; }
  .expert-section {
    padding: 46px 0 58px; }
  .expert-section .col-holder .col {
    width: 85%;
    margin: 0 auto;
    padding: 12px 15px 48px; }
  .expert-section .col-holder .col:nth-child(2) {
    padding: 15px 15px 48px; }
    .expert-section .col-holder .col:nth-child(2) p {
      margin: 0 0 60px; }
    .expert-section .col-holder .col:nth-child(2) .holder {
      padding: 66px 50px 12px; }
  .expert-section .col-holder .col:nth-child(3) {
    padding: 15px 15px 0; }
  .expert-section .col-holder .col:nth-child(3) .holder {
    padding: 64px 32px 35px; }
  .expert-section .col-holder + .col-holder .col:nth-child(1) .holder {
    padding: 66px 42px 65px; }
    .expert-section .col-holder + .col-holder .col:nth-child(1) .holder p {
      margin: 0 0 35px; }
  .expert-section .col-holder + .col-holder .col:nth-child(2) .holder {
    padding: 66px 42px 37px; }
    .expert-section .col-holder + .col-holder .col:nth-child(2) .holder p {
      margin: 0 0 32px; }
  .expert-section .col-holder + .col-holder .col:nth-child(3) .holder {
    padding: 62px 42px 37px; }
    .expert-section .col-holder + .col-holder .col:nth-child(3) .holder p {
      margin: 0 0 32px; }
  .expert-section .col-holder .col .holder {
    padding: 66px 50px 36px; }
  .expert-section .col-holder .col .holder h3 {
    font-size: 6.5vw;
    font-weight: 700;
    margin: 0 0 61px; }
  .expert-section .col-holder .col .holder p {
    font-size: 4.5vw; }
  .form-section .form .input-holderleft,
  .form-section .form .input-holderRight {
    width: 100%;
    padding: 0; }
  .languages-section {
    padding: 75px 0 52px; }
  .languages-section h2 {
    padding: 28px 30px 48px;
    line-height: 1; }
  .languages-section .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .languages-section .leng-img .leng-show {
    display: none; }
  .languages-section .leng-img .leng-hide {
    display: block; }
  /* .languages-section .row1,
	.languages-section .row2,
	.languages-section .row3,
	.languages-section .row4,
	.languages-section .row5,
	.languages-section .row6,
	.languages-section .row7,
	.languages-section .row8 {
		padding: 63px 0 23px;
		display: flex;
		justify-content: space-around;
	
		img {
			width: 30%;
			display: block;
			padding: 0 20px;
		}
	}
	.languages-section .row1 {
		img {
			width: 34% !important;
		}
	}
	
	.languages-section .row2 {
	
		img {
			width: 24% !important;
			margin: 0 20px;
		}
	}
	
	.languages-section .row3 {
		img {
			width: 31% !important;
		}
	}
	
	.languages-section .row4 {
		img {
			width: 35% !important;
		}
	}
	
	.languages-section .row5 {
		img {
			width: 50% !important;
		}
	}
	
	.languages-section .row6 {
		img {
			width: 30% !important;
		}
	}
	
	.languages-section .row7 {
		img {
			width: 40% !important;
		}
	}
	
	.languages-section .row8 {
		img {
			width: 40% !important;
		}
	} */
  .expertise-section {
    padding: 46px 0 12px; }
  .expertise-section .col-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 45px; }
  .expertise-section .col-holder .col {
    width: 50%;
    padding: 32px 25px 0; }
  .expertise-section .col img {
    max-width: none;
    width: 76%; }
  .expertise-section .col p {
    margin: 33px 0;
    font-size: 6.6vw; }
  .expertise-section .col-holder + h2 {
    line-height: 1.1;
    margin: 0 0 70px; }
  .form-section {
    padding: 46px 0 3px; }
  .form-section h4 {
    font-size: 6.2vw; }
  .form-section .form {
    padding: 0 17px 36px; }
  .form-section .massage {
    padding: 0 0 36px; }
  .form-section .form .input-holderleft input,
  .form-section .form .input-holderRight input {
    height: 66px;
    margin: 0 0 24px 0; }
  .form-section .form textarea {
    height: 400px; }
  .form-section button {
    font-size: 5.45vw;
    padding: 27px 18vw; }
  .form-section .attachment {
    padding: 3px 34px;
    font-size: 24px;
    bottom: 21%; }
  .footer-holder {
    padding: 13px 0; }
  .footer-holder .logo-holder {
    display: none; }
  .footer-holder .social .icon-facebook,
  .footer-holder .social .icon-linkedin,
  .footer-holder .social .icon-upwork {
    font-size: 35px; }
  .footer-holder .copyright span {
    font-size: 3vw; }
  .footer-holder .social .icon-facebook {
    padding: 0 0 0 10px; }
  .footer-holder .social .icon-upwork {
    display: block; }
  .expertise-section .col {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .hide,
  .show {
    -webkit-animation-name: none;
            animation-name: none; }
  .upwork {
    display: none; } }

@media (max-width: 480px) {
  .puerDev-section {
    padding: 45px 0; }
  .puerDev-section .headline h2 {
    margin: 0 0 40px 0; }
  .puerDev-section h2 {
    padding: 0 0 0 15px; }
  .visual-section {
    padding: 28vw 0 0;
    height: 100vh; }
  .wave {
    height: auto; }
  .visual-section .headline h2 {
    margin: 0; }
  .stages-section {
    margin: 0; }
  .stages-section h2 {
    margin: 0; }
  .stages-section .col-holder .col {
    padding: 15px 10px 0; }
  .stages-section .col-holder .col:nth-child(4) p {
    margin: 32px 0 0 0; }
  .stages-section .col-holder .col p {
    font-size: 7.4vw;
    margin: 30px 0; }
  .apps-section {
    padding: 50px 15px; }
  .apps-section h2 {
    margin: 0 0 35px; }
  .apps-section .btn {
    font-size: 4.5vw; }
  .apps-section .col-holder .col p {
    margin: 0 0 60px; }
  .expert-section .col-holder .col .holder {
    padding: 15px 20px 12px !important; }
  .expert-section .col-holder .col .holder h3 {
    margin: 0 0 25px; }
  .expert-section .col-holder .col:nth-child(2) p {
    margin: 0 0 14px; }
  .parallax-window,
  .parallax-window2,
  .parallax-window3,
  .parallax-window4 {
    min-height: 425px; }
  .parallax-window {
    background: url(../images/app_social_network_mob.png);
    background-repeat: no-repeat;
    /*  background-attachment: fixed;  */
    background-size: cover; }
  .parallax-window2 {
    background: url(../images/app_social_media_mob.png);
    /*  background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover; }
  .parallax-window3 {
    background: url(../images/app_healthcare_mob.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover; }
  .parallax-window4 {
    width: 100%;
    display: block;
    background: url(../images/app_entertainment_mob.png);
    /* background-attachment: fixed;  */
    background-repeat: no-repeat;
    background-size: cover; }
  .paralaks section .col-holder .col h1 {
    margin: 36px 0 !important; }
  .paralaks section .col-holder .col:last-child {
    padding: 20px 20px 0 15px; }
  .media-section {
    padding: 0; }
  .expertise-section .col-holder .col {
    width: 60%;
    padding: 5px 25px 0; }
  .form-section .form .input-holderleft input,
  .form-section .form .input-holderRight input {
    padding: 10px 17px;
    height: 50px; }
  .form-section .form textarea {
    height: 290px; }
  .form-section button {
    padding: 27px 12vw; } }

/* @include media('<1640px') {
	.parallax-window,
	.parallax-window2,
	.parallax-window3,
	.parallax-window4 {

		
			background-size: contain;
		background-position: center;
		
		
		
	}
} */
/*# sourceMappingURL=main.css.map */